html, body {
    height: 100%;
    background-image: linear-gradient(-105deg, #009acc, #363795);
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
    
    .path {
      stroke: rgb(3, 61, 161);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
    }
    .continue a {
        text-decoration: none;
        color: aliceblue;
    }
    #text{
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: aliceblue;
    }
    .processing{
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: aliceblue;
      padding-top:100px ;
    }
  #payment{
    display: none;
    max-height: 500px;
    max-width: 500px;
    position: absolute;
    top: -275px;
  }
  @media screen and (max-width:380px) {
    #payment{
      display: none;
      max-height: 500px;
      max-width: 500px;
      position: absolute;
      top: -209px;
    }
  }
  @media screen and (min-width:380px) and( max-width:500px) {
    #payment{
      display: none;
      max-height: 500px;
      max-width: 500px;
      position: absolute;
      top: -240px;
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  